In [28]:
%load_ext lab_black
import pandas as pd
import numpy as np
from string import ascii_uppercase
from collections import Counter

ModuleNotFoundError: No module named 'lab_black'

In [17]:
df_wordle_options = pd.read_csv('all_word_options.csv', header=None, names=['all_words'])
df_wordle_options.drop_duplicates(inplace=True)
print(f'Data read successful, found {df_wordle_options.shape[0]:,} unique words')

Data read successful, found 12,972 unique words

In [19]:
df_wordle_options.head()

  all_words
0     AAHED
1     AALII
2     AARGH
3     AARTI
4     ABACA

In [20]:
df_wordle_options = df_wordle_options[['all_words']].join(pd.DataFrame([Counter(word) for word in df_wordle_options['all_words'].str.upper()]).reindex(list(ascii_uppercase), axis=1).fillna(0).astype(int))

In [21]:
df_wordle_options.head()

  all_words  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z
0     AAHED  2  0  0  1  1  0  0  1  0  ...  0  0  0  0  0  0  0  0  0  0
1     AALII  2  0  0  0  0  0  0  0  2  ...  0  0  0  0  0  0  0  0  0  0
2     AARGH  2  0  0  0  0  0  1  1  0  ...  0  1  0  0  0  0  0  0  0  0
3     AARTI  2  0  0  0  0  0  0  0  1  ...  0  1  0  1  0  0  0  0  0  0
4     ABACA  3  1  1  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 27 columns]

In [22]:
df_counts_once = df_wordle_options.replace([2,3,4,5],1)
df_counts_once.head()

  all_words  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z
0     AAHED  1  0  0  1  1  0  0  1  0  ...  0  0  0  0  0  0  0  0  0  0
1     AALII  1  0  0  0  0  0  0  0  1  ...  0  0  0  0  0  0  0  0  0  0
2     AARGH  1  0  0  0  0  0  1  1  0  ...  0  1  0  0  0  0  0  0  0  0
3     AARTI  1  0  0  0  0  0  0  0  1  ...  0  1  0  1  0  0  0  0  0  0
4     ABACA  1  1  1  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 27 columns]

In [23]:
summary_df_counts_all = df_wordle_options[list(ascii_uppercase)].sum().to_frame(name='count_of_letter')
summary_df_counts_all['pct_count'] = summary_df_counts_all['count_of_letter'] / summary_df_counts_all['count_of_letter'].sum()
summary_df_counts_all

   count_of_letter  pct_count
A             5990   0.092353
B             1627   0.025085
C             2028   0.031267
D             2453   0.037820
E             6662   0.102714
F             1115   0.017191
G             1644   0.025347
H             1760   0.027135
I             3759   0.057956
J              291   0.004487
K             1505   0.023204
L             3371   0.051973
M             1976   0.030466
N             2952   0.045513
O             4438   0.068424
P             2019   0.031129
Q              112   0.001727
R             4158   0.064107
S             6665   0.102760
T             3295   0.050802
U             2511   0.038714
V              694   0.010700
W             1039   0.016019
X              288   0.004440
Y             2074   0.031977
Z              434   0.006691

In [24]:
summary_df_counts_once = df_counts_once[list(ascii_uppercase)].sum().to_frame(name='count_of_letter')
summary_df_counts_once['pct_count'] = summary_df_counts_once['count_of_letter'] / summary_df_counts_once['count_of_letter'].sum()
summary_df_counts_once

   count_of_letter  pct_count
A             5330   0.089226
B             1519   0.025429
C             1920   0.032141
D             2298   0.038469
E             5705   0.095504
F              990   0.016573
G             1543   0.025830
H             1708   0.028592
I             3589   0.060081
J              289   0.004838
K             1444   0.024173
L             3114   0.052129
M             1868   0.031271
N             2787   0.046655
O             3911   0.065471
P             1885   0.031556
Q              111   0.001858
R             3909   0.065438
S             5936   0.099371
T             3033   0.050773
U             2436   0.040779
V              674   0.011283
W             1028   0.017209
X              287   0.004804
Y             2031   0.034000
Z              391   0.006545

In [25]:
summary_df_counts_all.sort_values(by='pct_count', ascending=False)

   count_of_letter  pct_count
S             6665   0.102760
E             6662   0.102714
A             5990   0.092353
O             4438   0.068424
R             4158   0.064107
I             3759   0.057956
L             3371   0.051973
T             3295   0.050802
N             2952   0.045513
U             2511   0.038714
D             2453   0.037820
Y             2074   0.031977
C             2028   0.031267
P             2019   0.031129
M             1976   0.030466
H             1760   0.027135
G             1644   0.025347
B             1627   0.025085
K             1505   0.023204
F             1115   0.017191
W             1039   0.016019
V              694   0.010700
Z              434   0.006691
J              291   0.004487
X              288   0.004440
Q              112   0.001727

In [26]:
summary_df_counts_once.sort_values(by='pct_count', ascending=False)

   count_of_letter  pct_count
S             5936   0.099371
E             5705   0.095504
A             5330   0.089226
O             3911   0.065471
R             3909   0.065438
I             3589   0.060081
L             3114   0.052129
T             3033   0.050773
N             2787   0.046655
U             2436   0.040779
D             2298   0.038469
Y             2031   0.034000
C             1920   0.032141
P             1885   0.031556
M             1868   0.031271
H             1708   0.028592
G             1543   0.025830
B             1519   0.025429
K             1444   0.024173
W             1028   0.017209
F              990   0.016573
V              674   0.011283
Z              391   0.006545
J              289   0.004838
X              287   0.004804
Q              111   0.001858

In [27]:
df_wordle_options[df_wordle_options['all_words']=='AROSE']

    all_words  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z
549     AROSE  1  0  0  0  1  0  0  0  0  ...  0  1  1  0  0  0  0  0  0  0

[1 rows x 27 columns]

In [8]:
df_word_frequency = pd.read_csv('word-frequency.csv', header=None, delimiter=' ', names=['word', 'frequency'])

In [9]:
df_word_frequency.head()

  word  frequency
0  the  151983633
1   of   71874676
2  and   62210193
3   in   62004799
4   to   43364193

In [13]:
print(f"Pulled in {df_word_frequency.shape[0]:,} words")

Pulled in 2,184,780 words

In [15]:
df_word_frequency = df_word_frequency[df_word_frequency['word'].str.len() == 5]
print(f"Pulled in {df_word_frequency.shape[0]:,} words")

Pulled in 176,070 words

In [16]:
df_word_frequency

          word  frequency
20       which    6412646
28       first    4840311
29       their    4339413
30       after    4204053
43       other    3004434
...        ...        ...
2184687  límni          3
2184688  alifs          3
2184755  libod          3
2184770  uraro          3
2184779  fi-ta          3

[176070 rows x 2 columns]

In [ ]:
df_final = pd.merge(df_wordle_options, df_word_frequency, how='left', left_on='all_words', right_on='word')